.summary-container{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.review{
    color: #35b2ff;
}
.customers{
    color: rgb(255, 193, 78);
}
.tools{
    color: rgb(255, 132, 0);
}
.total-revenue{
    color: rgb(255, 132, 0);
}